streamlit
streamlit-webrtc
av
numpy
pandas
gTTS
SpeechRecognition
scikit-learn
streamlit-mic-recorder
fpdf
uuid
secure-smtplib
pydub
gtts
email-validator
python-magic
python-docx
requests
deep_translator
matplotlib
openpyxl
